name: Check projects

on:
  push:
    branches: [master] # Just in case master was not up to date while merging PR
  pull_request:
    types: [opened, synchronize]

jobs:
  run:
    continue-on-error: true
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Archiving
        run: cd Archiving && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Basic Video Chat
        run: cd Basic-Video-Chat && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Custom Audio Driver
        run: cd Custom-Audio-Driver && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Custom Video Driver
        run: cd Custom-Video-Driver && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Basic-Video-Renderer
        run: cd Basic-Video-Renderer && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Frame Metadata
        run: cd Frame-Metadata && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Multiparty Constraint Layout
        run: cd Multiparty-Constraint-Layout && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Picture In Picture
        run: cd Picture-In-Picture && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Screen Sharing
        run: cd Screen-Sharing && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Signaling
        run: cd Signaling && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: Simple-Multiparty
        run: cd Simple-Multiparty && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..

      - name: ARCore-Integration
        run: cd ARCore-Integration && ./gradlew app:assembleRelease && ./gradlew checkOpenTokConfig && cd ..
      
